@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');


:root{
    --white: hsl(0, 0%, 100%);;
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
    --red: hsl(1, 90%, 64%);
    --blue: #083b8d;

    --main-font: 'Plus Jakarta Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
}

main{
    background-color: var(--white);
    width: 640px;
    height: 620px;
    
    margin: 40px auto;
    border-radius: 15px;

    box-shadow: 1px 11px 19px 4px rgba(247,246,250,1);
    -webkit-box-shadow: 1px 11px 19px 4px rgba(247,246,250,1);
    -moz-box-shadow: 1px 11px 19px 4px rgba(247,246,250,1);
}

header {
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header h2{
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--very-dark-blue);
}

header h2 span{
    background-color: var(--blue);
    color: var(--white);
    font-size: .9rem;
    font-weight: 700;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    margin-left: .5rem;
}

header p{
    font-size: .9rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}

header p:hover{
    color: var(--blue);
    cursor: pointer;
}

.card{
    display: flex;
    background-color: var(--very-light-grayish-blue);
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 1.5rem;
    align-items: center;
}

.card img{
    height: 3rem;
    margin-right: .8rem;
}

.card-content{
    color: var(--dark-grayish-blue);
    font-size: .9rem;
    font-weight: 600;
}

.card-content p b{
    font-weight: 800;
    color: var(--very-dark-blue);
}

.card-content p a{
    font-weight: 800;
    color: var(--dark-grayish-blue);
}

.card-content p a:hover{
    color: var(--blue);
}

.time{
    color: var(--grayish-blue);
    cursor: pointer;
}

.card-text::after{
    content: " ";
    background-color: var(--red);
    width: 5px;
    height: 5px;
}